<script lang="ts" setup>
import { ref } from 'vue';

const text = ref('')


</script>

<template>
<div>
    <input type="text" v-model="text" placeholder="Type here">

</div>
<div> {{ text }}</div>
</template>